<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alexandre Gonçalves</title>
    <link rel="stylesheet" href="../public/css/index/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <a class="logo" href="#home">AG</a>
        <nav id="nav">
          <button
            id="btn-mobile"
            aria-label="Abrir menu"
            aria-haspopup="true"
            aria-controls="menu"
            aria-expanded="false"
          >
            Menu
            <span id="hamburguer"></span>
          </button>
          <ul id="menu" role="menu">
            <li><a href="#aboutMe" rel="noopener">Sobre Mim</a></li>
            <li><a href="#skills" rel="noopener">Conhecimentos</a></li>
            <li><a href="#projects" rel="noopener">Projetos</a></li>
            <li><a href="#contact" rel="noopener">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <section class="home" id="home">
          <p class="title">
            <span>&lt</span>Alexandre Gonçalves <span>/&gt</span>
          </p>

          <p class="description textEffect">
            <span>&ltcode&gt</span>Desenvolvedor FullStack
            <span>&lt/code&gt</span>
          </p>
        </section>
        <section class="aboutMe" id="aboutMe">
          <img src="../public/images/gamer.png" alt="" class="image-about" />
          <div class="text-about">
            <p class="title">Sobre mim</p>
            <p class="text">
              Meu nome é <span>Alexandre Gonçalves</span>, tenho 19 anos.
            </p>
            <p class="text">
              Sempre fui uma pessoa apaixonada por <span>lógica</span>, até
              então nunca conseguia pensar no que fazer com a minha vida, qual
              decisão eu tomaria para <span>meu futuro</span>.
            </p>
            <p class="text">
              Decidi fazer um curso <span>técnico de informática</span> para
              passar o tempo, e não imaginaria que iria me
              <span>apaixonar</span> logo de cara pelo
              <span>mundo da programação</span>.
            </p>
            <p class="text">
              Passei os últimos 3 anos estudando <span>linguagens</span>,
              <span>frameworks</span>, <span>bibliotecas</span> e decidindo que
              é isso que quero pra mim e pro <span>meu futuro</span>.
            </p>
          </div>
        </section>
        <section class="skills" id="skills">
          <p class="title">Conhecimentos</p>
          <img
            alt="Alexandre - NodeJS"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
          />
          <img
            alt="Alexandre - ReactJS"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
          />

          <img
            alt="Alexandre - MySQL"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
          />
          <img
            alt="Alexandre - GIT"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
          />
          <img
            alt="Alexandre - GitHub"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
          />

          <img
            alt="Alexandre - Javascript"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          />

          <img
            alt="Alexandre - HTML5"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
          />
          <img
            alt="Alexandre - CSS"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
          />
        </section>
        <section class="projects" id="projects">
          <p class="title">Projetos</p>
          <div class="project">
            <img src="" alt="" class="project-image" />
            <p class="project-title">Projeto 1</p>
          </div>
          <div class="project">
            <img src="" alt="" class="project-image" />

            <p class="project-title">Projeto 2</p>
          </div>

          <div class="project">
            <img src="" alt="" class="project-image" />

            <p class="project-title">Projeto 3</p>
          </div>
          <div class="project">
            <img src="" alt="" class="project-image" />

            <p class="project-title">Projeto 4</p>
          </div>
        </section>
        <section class="contact" id="contact">
          <p class="title">Contato</p>
          <div class="social-media">
            <a
              href="https://www.linkedin.com/in/alexandre-gon%C3%A7alves-/"
              target="blank"
            >
              <img
                alt="Alexandre-LinkedIn"
                class="icon"
                src="https://img.icons8.com/color/144/000000/linkedin-circled--v1.png"
              />
              <p class="text">
                <span>&lt</span>Alexandre Gonçalves<span>/&gt</span>
              </p>
            </a>
          </div>
          <div class="social-media">
            <a
              href="https://api.whatsapp.com/send?phone=5567981342754&text=Ol%C3%A1%20Alexandre"
            >
              <img
                alt="Alexandre-Whatsapp"
                class="icon"
                src="https://img.icons8.com/color/144/000000/whatsapp--v1.png"
              />
              <p class="text">
                <span>&lt</span>(67)981342754<span>/&gt</span>
              </p></a
            >
          </div>
          <div class="social-media">
            <a href="https://github.com/qalexandre" target="blank">
              <img
                alt="Alexandre-GitHub"
                class="icon"
                src="https://img.icons8.com/color/144/000000/github--v1.png"
              />
              <p class="text"><span>&lt</span>qalexandre<span>/&gt</span></p>
            </a>
          </div>
          <div class="social-media"></div>
        </section>
        <section class="footer">
          <p class="message">Portfólio criado por Alexandre Gonçalves</p>
        </section>
      </div>
    </main>
  </body>
  <script src="../public/js/script.js"></script>
</html>
